<div class="container vh-100">
    <div class="card mt-4">
        <div class="card-header">
            Datos de la Orden
        </div>
        <div class="card-body">
            <form [formGroup]="formCliente" (ngSubmit)="comparProductos()" >
                <div class="mb-3">
                    <select class="form-control" name="tipoEntrega" formControlName="tipoEntrega">
                        <option  selected disabled value="">--Seleccione un tipo de entrega--</option>
                        <option *ngFor="let tipo of tipos;">{{ tipo.nombre_entrega }}</option>
                    </select>
                    <div *ngIf="tipoEntrega?.invalid &&(tipoEntrega?.dirty || tipoEntrega?.touched)" class="text-danger">
                        <div  *ngIf="tipoEntrega?.errors?.['required']">
                            (Tipo de entrega requerido).
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <input formControlName="telefono" name="telefono" type="text" class="form-control" placeholder="Teléfono">
                    <div *ngIf="telefono?.invalid &&(telefono?.dirty || telefono?.touched)" class="text-danger">
                        <div  *ngIf="telefono?.errors?.['required']">
                            (Teléfono requerido).
                        </div>
                        <div *ngIf="telefono?.errors?.['minlength']">
                            (Debe tener 9 dígitos).
                        </div>
                        <div *ngIf="telefono?.errors?.['maxlength']">
                            (Debe tener 9 dígitos).
                        </div>
                        <div *ngIf="telefono?.errors?.['pattern']">
                            (Solo se admite números y empieza en 9).
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <input formControlName="fecha" name="fecha" type="date" class="form-control">
                    <div *ngIf="fecha?.invalid && (fecha?.dirty || fecha?.touched)" class="text-danger">
                        <div *ngIf="fecha?.errors?.['required']">
                            (Fecha requerida).
                        </div>
                    </div>
                </div>

                <div class=" mb-3">
                    <input formControlName="direccion" name="direccion" type="text" class="form-control" placeholder="Direccion">
                    <div *ngIf="direccion?.invalid && (direccion?.dirty || direccion?.touched)" class="text-danger">
                        <div  *ngIf="direccion?.errors?.['required']">
                            (Dirección requerida).
                        </div>
                        <div *ngIf="direccion?.errors?.['minlength']">
                            (Debe tener como mínimo 5 caracteres).
                        </div>
                        <div *ngIf="direccion?.errors?.['maxlength']">
                            (Debe tener como máximo 150 caracteres).
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input  type="submit" class="btn btn-primary" value="Realizar Compra">
                </div>
            </form>

        </div>
    </div>
    
</div>
