<div id="carouselExampleControls" class="carousel slide contenido-fondo-oscuro" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner h-100">
        <div class="carousel-item active h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="content-row-carousel">
                    <div class="carousel-img d-flex justify-content-center align-items-center">
                        <img src="../../../assets/resource/img/gastritis.png" class="" alt="Img1" />
                    </div>
                    <div class="carousel-caption">
                        <h5 class="carousel-title">Cúrate de la Gastritis</h5>
                        <p class="carousel-description">Encuentra tus productos para mejorar tu salud.</p>
                        <div class="d-flex justify-content-center carousel-btn">
                            <a class="nav-link btn-catalogo" routerLink="/productos">Ir a<fa-icon [icon]="arrowRight"></fa-icon></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="content-row-carousel">
                    <div class="carousel-img d-flex justify-content-center align-items-center">
                        <img src="../../../assets/resource/img/Reumatismo.png" class="" alt="Img2" />
                    </div>
                    <div class="carousel-caption">
                        <h5 class="carousel-title">Cúrate del Reumatismo</h5>
                        <p class="carousel-description">Encuentra tus productos para mejorar tu salud.</p>
                        <div class="d-flex justify-content-center carousel-btn">
                            <a class="nav-link btn-catalogo" routerLink="/productos">Ir a<fa-icon [icon]="arrowRight"></fa-icon></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="content-row-carousel">
                    <div class="carousel-img d-flex justify-content-center align-items-center">
                        <img src="../../../assets/resource/img/higa-graso.png" class="" alt="Img3" />
                    </div>
                    <div class="carousel-caption">
                        <h5 class="carousel-title">Cúrate del Higado Graso</h5>
                        <p class="carousel-description">Encuentra tus productos para mejorar tu salud.</p>
                        <div class="d-flex justify-content-center carousel-btn">
                            <a class="nav-link btn-catalogo" routerLink="/productos">Ir a<fa-icon [icon]="arrowRight"></fa-icon></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
