<!--Carousel-->
<div class="content-carousel">
    <app-carousel></app-carousel>
</div>

<!--Cateogrias-->
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-sm-6 d-flex justify-content-start section-title-categoria">
            <h2 class="categoria-title">Categorías</h2>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-end align-items-center section-btn-categoria">
            <a class="btn-categorias" routerLink="/productos">Ir a<fa-icon [icon]="arrowRight"></fa-icon></a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3  mt-1">
            <div class="card card-categoria">
                <div class="card-header card-categoria-header">
                    <div class="card-header-contenedor title-categoria-card categotia-1">
                        <img src="../assets/resource/img/frutas.jpg" alt="">
                        <h5 class="card-title">Frutas</h5>
                        <a class="btn-categoria justify-content-center" routerLink="/productos">
                            <fa-icon [icon]="arrowRight"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3  mt-1">
            <div class="card card-categoria">
                <div class="card-header card-categoria-header">
                    <div class="card-header-contenedor title-categoria-card categotia-1">
                        <img src="../assets/resource/img/bebidas.jpg" alt="">
                        <h5 class="card-title">Bebidas</h5>
                        <a class="btn-categoria justify-content-center" routerLink="/productos">
                            <fa-icon [icon]="arrowRight"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3  mt-1">
            <div class="card card-categoria">
                <div class="card-header card-categoria-header">
                    <div class="card-header-contenedor title-categoria-card categotia-1">
                        <img src="../assets/resource/img/natural1.jpg" alt="">
                        <h5 class="card-title">Frutas</h5>
                        <a class="btn-categoria justify-content-center" routerLink="/productos">
                            <fa-icon [icon]="arrowRight"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3  mt-1">
            <div class="card card-categoria">
                <div class="card-header card-categoria-header">
                    <div class="card-header-contenedor title-categoria-card categotia-1">
                        <img src="../assets/resource/img/frutas.jpg" alt="">
                        <h5 class="card-title">Frutas</h5>
                        <a class="btn-categoria justify-content-center" routerLink="/productos">
                            <fa-icon [icon]="arrowRight"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--card-end-->

<!--Productos-->
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-12 col-sm-6 d-flex justify-content-start section-title-categoria">
            <h2 class="categoria-title">Lo más vendido</h2>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-end align-items-center section-btn-categoria">
            <a class="btn-categorias" routerLink="/productos">Ir a<fa-icon [icon]="arrowRight"></fa-icon></a>
        </div>
    </div>
    <div class="row">
        <!--Prod 1-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card card-producto">
                <div class="card-header card-productos-header">
                    <div>
                        <img src="../assets/resource/img/aceite1.png" />
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="price">S/ 7.99</p>
                        <a routerLink="/productos">
                            <fa-icon [icon]="carrito"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Prod 2-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card card-producto">
                <div class="card-header card-productos-header">
                    <div>
                        <img src="../assets/resource/img/aceite2.png" />
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="price">S/ 7.99</p>
                        <a routerLink="/productos">
                            <fa-icon [icon]="carrito"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Prod 3-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card card-producto">
                <div class="card-header card-productos-header">
                    <div>
                        <img src="../assets/resource/img/aceite3.png" />
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="price">S/ 7.99</p>
                        <a routerLink="/productos">
                            <fa-icon [icon]="carrito"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Prod 4-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card card-producto">
                <div class="card-header card-productos-header">
                    <div>
                        <img src="../assets/resource/img/aceite4.png" />
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="price">S/ 7.99</p>
                        <a routerLink="/productos">
                            <fa-icon [icon]="carrito"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Prod 5-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card card-producto">
                <div class="card-header card-productos-header">
                    <div>
                        <img src="../assets/resource/img/osteoporosis.png" />
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="price">S/ 7.99</p>
                        <a routerLink="/productos">
                            <fa-icon [icon]="carrito"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Prod 6-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card card-producto">
                <div class="card-header card-productos-header">
                    <div>
                        <img src="../assets/resource/img/prostazan.png" />
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="price">S/ 7.99</p>
                        <a routerLink="/productos">
                            <fa-icon [icon]="carrito"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Prod 7-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card card-producto">
                <div class="card-header card-productos-header">
                    <div>
                        <img src="../assets/resource/img/aceite1.png" />
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="price">S/ 7.99</p>
                        <a routerLink="/productos">
                            <fa-icon [icon]="carrito"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- end row de productos-->
<!--Seccion de nosotros-->
<div class="container mt-4 mb-4 contenedor-nosotros">
    <div class="row">
        <div class="col-12 	col-md-6 p-4 contenedor-nosotros-img">
            <img class=" " src="../../../assets/resource/img/nosotros.jpg" alt="">
        </div>
        <div class="col-12 	col-md-6 d-flex justify-content-center align-items-center">
            <div class="nosotros-info">
                <h2 class="d-flex titulo-nosotros">Nosotros</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed aut, eaque perspiciatis accusamus
                    excepturi,
                    eos hic numquam similique delectus quibusdam suscipit harum. Animi aperiam iste aut dolorem, harum
                    voluptates ab.
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia incidunt repellat iusto quod totam.
                    Voluptatibus,
                    ratione unde eum quia doloremque illum modi tempora maiores suscipit ipsum repellendus nihil sint
                    facilis?
                </p>
                <a class="btn-categorias" routerLink="/nosotros">Ir a<fa-icon [icon]="arrowRight"></fa-icon></a>
            </div>
        </div>
    </div>
</div>