<div class="vh-100">
    <div class="title-pagina">
        <div class="container">
            <h1>Mi carrito</h1>
        </div>
    </div>
    <div class="container container-contenido">
        <div class="row">
            <div class="col-9">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-color">
                            <tr>
                                <th scope="col">
                                    PRODUCTO
                                </th>
                                <th scope="col">
                                    PRECIO
                                </th>
                                <th scope="col">
                                    CANTIDAD
                                </th>
                                <th scope="col">
                                    ACCIONES
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of listaCarrito" >
                                <td>
                                    {{producto.nombre_prod}}
                                </td>
                                <td>
                                    {{producto.precio_prod}}
                                </td>
                                <td>
                                    <input type="number" [(ngModel)]="cantidad" >
                                </td>
                                <td>
                                    <button (click)="eliminarProductoCarrito(producto)" class="btn btn-danger">
                                        <fa-icon [icon]="eliminar"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h5 >Total:</h5>
                        <p><strong>S/</strong> {{montoTotal}}</p>
                    </div>
                    <div class="card-body" *ngFor="let producto of montoLocal; ">
                        <div class="card-body-btn d-flex justify-content-between">
                            <h6 >{{ producto.nombreProducto }}</h6>
                            <p><strong>S/</strong>{{producto.subTotal }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-body-btn">
                            <a routerLink="/comprar" class="btn btn-primary">Pagar</a>
                        </div>
                        <div class="card-body-btn">
                            <a routerLink="/productos" class="btn btn-secondary">Comprar más</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>