/*productos */

.title-pagina,
.container-categoria h5,
.container-enfermedad h5 {
    color: #3cb815;
}
.title-pagina{
  display: flex;
  justify-content: center;
}

.card-producto {
    border-radius: 0.5rem;
    box-shadow: 0 8px 11px rgb(14 55 55 /15%);
}

.card-productos-header {
    border: none;
}

.card-productos-header img {
    width: 100%;
    height: 200px;
}

.card-productos-header .price {
    font-size: 1rem;
    color: #f75f1d;
    font-weight: bold;
}


.card-productos-header .ng-fa-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #3cb815;
  color: #fff;
  border-radius: 0.5rem 0 0.5rem 0;
  font-size: 20px;
  padding: 6px;
  cursor: pointer;
}

.card-productos-header .ng-fa-icon:hover {
  background: #f75f1d;
  transition: 0.2s all linear;
}

