<div class="vh-100">
    <div class="title-pagina">
        <div class="container">
            <h1>Mis compras realizadas</h1>
        </div>
    </div>
    <div class="container container-tabla">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-color">
                    <tr>
                        <th scope="col">
                            CÓDIGO
                        </th>
                        <th scope="col">
                            FECHA
                        </th>
                        <th scope="col">
                            ENTREGA
                        </th>
                        <th scope="col">
                            ESTADO
                        </th>
                        <th scope="col">
                            PRECIO
                        </th>
                        <th scope="col">
                            ACCIONES
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let compras of data_compras">
                        <td>
                            {{ compras.codigo }}
                        </td>
                        <td>
                            {{ compras.fecha }}
                        </td>
                        <td>
                            {{ compras.tipo }}
                        </td>
                        <td>
                            {{ compras.estado }}
                        </td>
                        <td>
                            {{ compras.monto_total }}
                        </td>
                        <td>
                            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal-compra">
                                <fa-icon [icon]="detallecompras"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-compra">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ titulo }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>