<div class="vh-100">
    <div class="title-pagina">
        <div class="container">
            <h1>Mis compras realizadas</h1>
        </div>
    </div>
    <div class="container container-tabla">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-color">
                    <tr>
                        <th scope="col">
                            CÓDIGO
                        </th>
                        <th scope="col">
                            FECHA
                        </th>
                        <th scope="col">
                            ENTREGA
                        </th>
                        <th scope="col">
                            ESTADO DE LA ORDEN
                        </th>
                        <th scope="col">
                            MONTO TOTAL
                        </th>
                        <th scope="col">
                            ACCIONES
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let compra of miscompras">
                        <td>
                            {{ compra.id_orden }}
                        </td>
                        <td>
                            {{ compra.fecha_venta }}
                        </td>
                        <td>
                            {{ compra.nombre_entrega }}
                        </td>
                        <td>
                            {{ compra.estado_entrega_orden }}
                        </td>
                        <td>
                            {{ compra.monto_total }}
                        </td>
                        <td>
                            <button class="btn btn-info" (click)="detalleCompras(compra.id_orden)">
                                <fa-icon [icon]="icondetallecompras"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

