<div class="vh-100 d-flex justify-content-center align-items-center contenedor-login">
        <div class="login-box ">
            
            <div class="card">
                <div class="card-body login-card-body">
                    <div class="login-logo">
                        <img class="img-logo" src="./assets/resource/img/logo-natural.PNG" alt="Logo">
                        <p class="nombre-web">Sana <b>Natural</b></p>
                    </div>
                    <form [formGroup]="formCliente" (ngSubmit)="iniciarSesion()">
                        <div class="input-div one mb-3 mt-3">
                            <div class="i">
                                <fa-icon [icon]="iconCorreo"></fa-icon>
                            </div>
                            <div>
                                <h5>Correo</h5>
                                <input formControlName="correo" name="correo" type="email" class="input-campo" placeholder="Correo">
                            </div>
                            
                        </div>
                        <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)" class="text-danger">
                            <div *ngIf="correo?.errors?.['required']">
                                (Correo requerido).
                            </div>
                            <div *ngIf="correo?.errors?.['email']">
                                (Debe tener un correo valido).
                            </div>
                        </div>
                        <div class="input-div two mb-3 mt-3">
                            <div class="i">
                                <fa-icon [icon]="iconContrasenia"></fa-icon>
                            </div>
                            <div>
                                <h5>Contraseña</h5>
                                <input formControlName="contrasenia" name="contrasenia" type="password" class="input-campo" placeholder="Contraseña">
                            </div>
                        </div>
                        <div *ngIf="contrasenia?.invalid && (contrasenia?.dirty || contrasenia?.touched)" class="text-danger">
                            <div *ngIf="contrasenia?.errors?.['required']">
                                (Contraseña requerido).
                            </div>
                            <div *ngIf="contrasenia?.errors?.['minlength']">
                                (Debe tener como mínimo 6 caracteres).
                            </div>
                            <div *ngIf="contrasenia?.errors?.['maxlength']">
                                (Debe tener como máximo 100 caracteres).
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 contenedor-btn">
                                <button type="submit" class="btn btn-inicio">Iniciar Sesión</button>
                            </div>
                        </div>
                    </form>
    
                    <p class="mb-1">
                        <a class="no-enlace enlace-color" routerLink="/inicio">Volver al inicio</a>
                    </p>
                    <p class="mb-0">
                        <a class="no-enlace text-center enlace-color" routerLink="/registrar" >Registrate</a>
                    </p>
                </div>
    
            </div>
        </div>
</div>