.navbar {
    z-index: 1000;
    box-shadow: 0 8px 11px rgb(14 55 55 /15%);
    padding: 20px 100px;
    transition: 0.5s;
}
.nav-item{
    text-align: center;
    align-self: center;
}
.nav-link{
    transition: none;
    align-items: center;
    justify-content: center;
}



.section-login,
.nav-principal{
    align-items: center;
    
}
.section-login ul{
    align-items: center;
}

.navbar-light .navbar-nav .nav-link:hover {
    background: #3cb815;
    color: #fff;
    border-radius: 5rem;
    cursor: pointer;
}


.navbar-light .navbar-brand {
    color: #ff7e00;
}
.navbar-brand span{
    color: #3cb815;
}

.navbar-light .navbar-brand:hover {
    color: #ff7e00;
}
.col-8 .navbar-nav{
    justify-content: space-around;
}
.col-4 .navbar-nav{
    justify-content: end;
}

.active{
    background: #3cb815;
    border-radius: 5rem;
    color: #fff !important;
    transition: background 0.5s;
}

p{
    margin-bottom: 0;
}
.carrito-compra{
    position: relative;
    color: var(--bs-nav-link-color);
}
.contador-carrito{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -8px;
    width: 15px;
    height: 15px;
    background: #ff7e00;
    border-radius: 50%;
    padding: 8px;
    color: #fff;
}
.carrito-compra:hover{
    color: #3cb815;
}
.btn-buscar{
    background:#3cb815;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    padding: 4px;
    height: 40px;
}
.btn-buscar:hover{
    background:#377225;

}
.input-buscar{
    border-radius: 0.5rem;
    width: 60%;
    background: #D9D9D9;
    border: solid 1.5px;
    border-color: #3cb815;
    /* color: #f75f1d; */
    color: #f75f1d;
    height: 40px;
}
.img-logo{
    width: 40px;
    height: 40px;
}

@media (max-width: 991px) {

    .section-login,
    .nav-principal {
        display: block !important;

    }

    .col-8, .col-4{
        width: 100%;
    }
    .nav-item{
        align-self: initial;
    }
    .section-login-ul{
        align-items: normal !important;
    }
    .dropdown-item.nav-link{
        text-align: center;
    }

}
@media (max-width: 667px) {
    .navbar{
        justify-content: center;
    }
    .contenedor-nav{
        justify-content: center;
    }
}