<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/inicio">
        Sana<span>Natural</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="row w-100 nav-principal">
            <div class="col-8">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLink="/inicio" routerLinkActive="active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/productos" routerLinkActive="active">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/mis-compras" routerLinkActive="active">Mis Compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contactanos" routerLinkActive="active">Contactanos</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <div class="section-login">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 section-login-ul">
                       <form [formGroup]="formBuscar" >
                        <div class="nav-item">
                            <input name="cadena" formControlName="cadena"  type="text" placeholder="Buscar" >
                            <label for="">{{buscar}}</label>
                        </div>
                       </form>
                        
                       
                        
                        <li *ngIf="false" class="nav-item">
                            <a class="nav-link" routerLink="/registrar" >Registrar</a>
                        </li>
                        <li *ngIf="false" class="nav-item">
                            <a class="nav-link" routerLink="/login" >Iniciar Sesión</a>
                        </li>

                        <li class="nav-item dropdown ">

                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Juan Perez
                            </a>
                            <div class="dropdown-menu my-2 my-lg-0">
                                <a class="dropdown-item nav-link" routerLinkActive="active" href="#"><fa-icon [icon]="sigout" clases="ml-2"></fa-icon> Cerrar Sesión</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/carrito" class=" nav-link"><fa-icon [icon]="carrito"></fa-icon></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>